body { margin:0; font-family:'Segoe UI'; background:#0f0f0f; color:white; }
button {
  width:100%; padding:10px; background:red;
  border:none; color:white; cursor:pointer;
}
button:hover{ background:darkred }

.center-box {
  width:320px; margin:100px auto;
  padding:30px; background:#1a1a1a;
  border-radius:10px; box-shadow:0 0 20px red;
}

.success{ color:lightgreen }

/* Table */
table{ width:100%; background:#1a1a1a }
th,td{ padding:12px; border-bottom:1px solid #333 }

.badge{ padding:5px 10px; border-radius:20px }
.pending{ background:orange }
.approved{ background:green }
.rejected{ background:red }

.approve{ background:green }
.reject{ background:red }

.chart-box{
  width:400px; background:#1a1a1a;
  padding:20px; border-radius:10px;
  margin:20px 0;
}

#search{
  padding:10px; width:300px;
  background:#222; border:none; color:white;
}

#toast{
  position:fixed; bottom:20px; right:20px;
  background:#222; padding:15px;
  border-left:5px solid red; display:none;
}
